<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.Win" version="8.0.20251.721" targetFramework="net472" />
  <package id="C1.Win.C1Command" version="4.8.20251.721" targetFramework="net472" />
  <package id="C1.Win.C1Input" version="4.8.20251.721" targetFramework="net472" />
  <package id="C1.Win.Calendar" version="8.0.20251.721" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net472" />
</packages>